{
  "extends": ["stylelint-config-standard", "stylelint-config-sass-guidelines"],
  "rules": {
    "color-function-notation": "legacy",
    "media-feature-range-notation": "prefix",
    "declaration-property-value-disallowed-list": null,
    "rule-empty-line-before": null,
    "at-rule-empty-line-before": null
  }
}
