{
  "extends": ["stylelint-config-standard"],
  "rules": {
    "color-function-notation": "legacy",
    "media-feature-range-notation": "prefix",
    "rule-empty-line-before": null,
    "at-rule-empty-line-before": null
  }
}
