* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Almennt */
html,
input,
select,
button {
  font-size: var(--font-base-body-px);
  font-family: var(--font-family-base);
}

h1,
h2,
h3 {
  font-family: var(--font-family-heading);
}

a {
  color: inherit;
  background-color: inherit;
}

img {
  max-width: 100%;
}

:root {
  --color-footer: #3c2a1e;
  --light-brown: #6f4e37;
  --white: #fff;
  --font-base-body-px: 16px;
  --spacing: 1rem;
  --vertical-space: calc(var(--gutter));
  --max-width: 1400px;
  --width-offset: calc(100% - (2 * var(--offset)));
  --border-small: 1px;
  --border-large: 8px;
  --border-radius: 6px;
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  --font-base-size: 1rem;
  --font-family-base: "Lato";
  --font-family-heading: "Lato";
}

.wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  padding-bottom: var(--spacing);
  justify-items: center;
  gap: var(--vertical-space);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);
  padding-top: var(--spacing);
  width: 100%;
  background-color: #000;
}

.nav {
  width: var(--width-offset);
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto;
  padding-top: var(--vertical-space);
  padding-bottom: var(--vertical-space);
  gap: var(--gutter);
  place-items: center;
}
.nav a {
  text-decoration: none;
}

.titill {
  color: var(--white);
  font-size: 50px;
  grid-column: 1/13;
}

.hlekkir {
  color: var(--white);
  display: flex;
  flex-direction: row;
  gap: var(--spacing);
  grid-column: 1/13;
}

.hlekkir1,
.hlekkir2 {
  display: flex;
  gap: var(--spacing);
}

@media (min-width: 600px) {
  .titill {
    grid-column: span 6;
    justify-self: start;
  }
  .hlekkir {
    flex-direction: column;
    grid-column: 10/13;
    justify-self: end;
  }
  .hlekkir2 {
    display: flex;
    justify-content: space-around;
  }
}
.button {
  background-color: #000;
  color: var(--white);
  width: 128px;
  height: 32px;
  display: inline-block;
  border: 1px solid var(--color-dark);
  border-radius: var(--border-radius);
  padding: calc(var(--spacing) / 2) calc(var(--spacing));
  font-family: var(--font-family-base);
  text-decoration: none;
  text-align: center;
}

.form-container {
  width: var(--width-offset);
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  width: 100%;
  grid-column: span 8;
}
form .button {
  max-width: 4rem;
}

.input {
  width: 300px;
  border-radius: 6px;
  border: none;
  border: solid 1px #000;
  padding: 0.25rem;
}

.noresults {
  grid-column: span 2;
}

.while-searching {
  font-size: 1.5rem;
  grid-column: span 12;
  justify-self: start;
}

.main {
  width: var(--width-offset);
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--spacing);
}

.font-bold {
  font-weight: bold;
}

.product-list {
  grid-column: span 12;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--spacing);
}

.prod-card {
  grid-column: span 12;
  /* stylelint-disable length-zero-no-unit, alpha-value-notation */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* stylelint-enable length-zero-no-unit, alpha-value-notation */
  border-radius: 10px;
}
.prod-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.prod-info-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.prod-info-container div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.prod-title {
  font-size: 1.5rem;
}

.prod-price {
  font-size: 1.25rem;
  align-self: center;
}

@media (min-width: 600px) {
  .prod-card {
    grid-column: span 6;
  }
}
@media (min-width: 1000px) {
  .prod-card {
    grid-column: span 4;
  }
}
.single-product {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--spacing);
}
.single-product img {
  grid-column: span 12;
}

.sp-info {
  grid-column: span 12;
}

.sp-title {
  font-size: 2rem;
}

.sp-info-price {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

.svipadar-prod {
  grid-column: span 12;
}

@media (min-width: 800px) {
  .single-product img {
    grid-column: span 12;
  }
  .sp-info {
    grid-column: span 12;
  }
}
@media (min-width: 1000px) {
  .single-product img {
    grid-column: span 6;
  }
  .sp-info {
    grid-column: span 6;
  }
}
.prod-img {
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*# sourceMappingURL=styles.css.map */
