.font-bold {
  font-weight: bold;
}

.product-list {
  grid-column: span 12;

  display: grid;

  list-style: none;

  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--spacing);
}

.prod-card {
  grid-column: span 4;
}

.prod-info-container {
  display: flex;
  justify-content: space-between;
}

.prod-price {
  align-self: center;
}
