.font-bold {
  font-weight: bold;
}

.product-list {
  grid-column: span 12;

  display: grid;

  list-style: none;

  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--spacing);
}

.prod-card {
  grid-column: span 4;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;

  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.prod-info-container {
  display: flex;
  justify-content: space-between;

  padding: 1rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
}

.prod-title {
  font-size: 1.5rem;
}

.prod-price {
  font-size: 1.25rem;

  align-self: center;
}
