:root {
  --color-footer: #3c2a1e;
  --light-brown: #6f4e37;
  --white: #fff;
  --font-base-body-px: 16px;
  --spacing: 1rem;
  --vertical-space: calc(var(--gutter));
  --max-width: 1400px;
  --width-offset: calc(100% - (2 * var(--offset)));
  --border-small: 1px;
  --border-large: 8px;
  --border-radius: 6px;
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  --font-base-size: 1rem;
  --font-family-base: 'Lato';
  --font-family-heading: 'Lato';
}
