.form-container {
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto;

  //padding-top: var(--vertical-space);
  //padding-bottom: var(--vertical-space);

  gap: var(--gutter);

  align-items: center;

  justify-items: center;
}
form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  // input-bordered w-full max-w-xs
  display: flex;
  //grid-column: span 3;
  align-items: center;
  height: 32px;
  margin-right: 1rem;
}

.noresults {
  grid-column: span 2;
}
