.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);
  padding-top: var(--spacing);
  width: 100%;
  background-color: #000;
}

.nav {
  width: var(--width-offset);
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto;
  padding-top: var(--vertical-space);
  padding-bottom: var(--vertical-space);
  gap: var(--gutter);
  place-items: center;

  a {
    text-decoration: none;
  }
}

.titill {
  color: var(--white);
  font-size: 50px;
  grid-column: 1 / 13;
}

.hlekkir {
  color: var(--white);
  display: flex;
  flex-direction: row;
  gap: var(--spacing);
  grid-column: 1 / 13;
}

.hlekkir1,
.hlekkir2 {
  display: flex;
  gap: var(--spacing);
}

@media (min-width: 600px) {
  .titill {
    grid-column: span 6;
    justify-self: start;
  }

  .hlekkir {
    flex-direction: column;
    grid-column: 10 / 13;
    justify-self: end;
  }

  .hlekkir2 {
    display: flex;
    justify-content: space-around;
  }
}
