.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);
  padding-top: var(--spacing);
  width: 100%;
  background-color: black;
}

.nav {
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto;

  padding-top: var(--vertical-space);
  padding-bottom: var(--vertical-space);

  gap: var(--gutter);

  align-items: center;

  justify-items: center;

  a {
    text-decoration: none;
  }
}

/* .titill {
  color: var(--white);
  font-size: 50px;
  grid-column: span 12;
  display: flex;
  justify-self: start;
  align-items: center;
} */

@media (min-width: 700px) {
  .titill {
    grid-column: span 3;
  }
}

@media (min-width: 1000px) {
  .titill {
    grid-column: span 4;
  }
}

.titill {
  color: var(--white);
  font-size: 50px;

  grid-column: span 7;

  justify-self: start;
}

.hlekkir {
  color: var(--white);
  grid-column: 12/13;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.hlekkir1 {
  padding: 1rem;
}

.hlekkir2 {
  padding: 1rem;

  display: flex;
  justify-content: space-around;
}
